
:host /deep/ {

  .card-title {
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    opacity: 0.9;
    color: #ffffff;
  }
  .card > .card-body {
    padding: 25px 25px;
    height: 100%;
    background: rgba(255, 255, 0, 0.09);
  }
  .ui-fieldset {
    border: 1px solid #f9fffd;
    background: rgba(225, 225, 225, 0.18);
    color: rgba(255, 19, 173, 0.75);
    word-spacing: 10px;
    font-size: 120%;
    border: 5px solid #fe924a;
    margin: 0px;
  }
  .ui-widget-content {
    border: 1px solid #f9fffd;
    background: #e6ca5f;
    border: solid;
    border-bottom-color: black;
    color: #212121;
  }
}

@media screen and (max-width: 600px) {
  #show_content {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

h2 {
  font-size: 24px;
  font-family: "Al Tarikh";
  color: #edfe2b;
  font-weight: bold;
  padding-top: 10%;
}

h4.groove {
  border-style: groove;
  background: #99ab89;
}

