FORM: {{preMatchUmpireForm.value | json}} label:
{{preMatchUmpireForm.value?.batting_frst_team?.value | json}}
<div *ngIf='preMatchUmpireForm'>
<form
	[formGroup]="preMatchUmpireForm"
	class="form-horizontal"
	(ngSubmit)="submitPreMatchInfo()">

	<ctcl-style title="Match Basic Details"> <!--<nb-card>-->
	<div class="row">
		<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="row demo-checkboxes-radio">
				<nb-card-body> <ng-container
					*ngFor="let venue of active_grounds"
				> <label class="custom-control custom-radio"> <input
					formControlName="ground"
					[value]="venue?.ground_id"
					class="custom-control-input"
					type="radio"
				> <span class="custom-control-indicator"></span> <span
					class="custom-control-description"
				>{{venue?.ground_abbrev}}</span>
				</label> </ng-container> </nb-card-body>
				<nb-card-body> <ng-container
					*ngFor="let venue of active_grounds"
				> <label class="custom-control custom-radio"> <input
					formControlName="ground"
					[value]="venue?.ground_id"
					class="custom-control-input"
					type="radio"
				> <span class="custom-control-indicator"></span> <span
					class="custom-control-description"
				>{{venue?.ground_abbrev}}</span>
				</label> </ng-container> </nb-card-body>
			</div>
		</div>
		<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="col-sm-6">
				<div class="form-group">
					<nb-card-header> <label for="maxovers">Max
						Overs </label> </nb-card-header>
					<input
						formControlName="maxovers"
						type="text"
						class="form-control"
						id="maxovers"
						placeholder="Maximum Overs"
					>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<nb-card-header> <label for="comments">Comments
					</label> </nb-card-header>
					<input
						formControlName="comments"
						type="text"
						class="form-control"
						id="comments"
						placeholder="Match Comments"
					>
				</div>
			</div>
		</div>
	</div>
	</ctcl-style>
	<!-- <ctcl-style title="Select Match Teams"> -->
	<div class="row">
		<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<!--Home Team -->
			<nb-card-header> <label>Home Team</label> </nb-card-header>
			<div class="form-group form-control form-control-warning">
				<p-autoComplete
					formControlName="home_team"
					[inputStyle]="{'width':'90%','font-size': '16px'}"
					styleClass="col-md-12 col-sm-12 col-12"
					[minLength]="1"
					[size]="30"
					[dropdown]="true"
					autoHighlight="true"
					required="true"
					id="batting_first_id"
					field="label"
					placeholder="Select Home team"
					(onSelect) = "setPlayingTeams($event)"
					(completeMethod)="getFilteredTeams($event)"
					[suggestions]="filteredTeams"
				> </p-autoComplete>
			</div>
			<!--Guest Team -->
			<nb-card-header> <label>Guest Team</label> </nb-card-header>
			<div class="form-group form-control form-control-warning">
				<p-autoComplete
					formControlName="guest_team"
					[inputStyle]="{'width':'90%','font-size': '16px'}"
					styleClass="col-md-12 col-sm-12 col-12"
					[minLength]="1"
					[size]="30"
					[dropdown]="true"
					autoHighlight="true"
					required="true"
					id="batting_first_id"
					field="label"
					placeholder="Select Guest team"
					(onSelect) = "setPlayingTeams($event)"
					(completeMethod)="getFilteredTeams($event)"
					[suggestions]="filteredTeams"
				> </p-autoComplete>
			</div>
			<nb-card-header> <label>Winning Toss Team</label> </nb-card-header>
			<div class="form-group form-control form-control-warning">
				<span class="ui-float-label"> <p-autoComplete
						formControlName="toss_won_team"
						[inputStyle]="{'width':'90%','font-size': '16px'}"
						styleClass="col-md-12 col-sm-12 col-12"
						[minLength]="1"
						[size]="30"
						[dropdown]="true"
						autoHighlight="true"
						id="float-input"
						field="label"
						placeholder="Toss Won team"
						(completeMethod)="getPlayingTeams($event)"
						[suggestions]="playingTeams"
					> </p-autoComplete>
				</span>
			</div>
		</div>
		<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<nb-card-header> <label>Bat First Team</label> </nb-card-header>
			<div class="form-group form-control form-control-warning">
				<p-autoComplete
					formControlName="batting_frst_team"
					[inputStyle]="{'width':'90%','font-size': '16px'}"
					styleClass="col-md-12 col-sm-12 col-12"
					[minLength]="1"
					[size]="30"
					[dropdown]="true"
					autoHighlight="true"
					required="true"
					id="batting_first_id"
					field="label"
					placeholder="Select Bat first team"
					(completeMethod)="getPlayingTeams($event)"
					[suggestions]="playingTeams"
				> </p-autoComplete>
			</div>
			<nb-card-header> <label>Umpire Team #1</label> </nb-card-header>
			<div class="form-group form-control form-control-warning">
				<p-autoComplete
					formControlName="umpire_team_1"
					[inputStyle]="{'width':'90%','font-size': '16px'}"
					styleClass="col-md-12 col-sm-12 col-12"
					[minLength]="1"
					[size]="30"
					[dropdown]="true"
					autoHighlight="true"
					required="true"
					id="umpire_team_1"
					field="label"
					placeholder="Umpire Team #1"
					(completeMethod)="getFilteredTeams($event)"
					[suggestions]="filteredTeams"
				> </p-autoComplete>
			</div>
			<nb-card-header> <label>Umpire Team #2</label> </nb-card-header>
			<div class="form-group form-control form-control-warning">
				<p-autoComplete
					formControlName="umpire_team_2"
					[inputStyle]="{'width':'90%','font-size': '16px'}"
					styleClass="col-md-12 col-sm-12 col-12"
					[minLength]="1"
					[size]="30"
					[dropdown]="true"
					autoHighlight="true"
					required="true"
					id="umpire_team_2"
					field="label"
					placeholder="Umpire Team #2"
					(completeMethod)="getFilteredTeams($event)"
					[suggestions]="filteredTeams"
				> </p-autoComplete>
			</div>
		</div>
	</div>
	<div
		class="form-group col-sm-6 offset-sm-3 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3"
	>
		<button
			[disabled]="false"
			class="btn btn-primary"
		>Sign In</button>
	</div>
	<!-- <div *ngIf="error" class="alert alert-danger">{{error}}</div> -->
</form>
</div>