<div class="row">
  <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12"
       baCardClass="xmedium-card feed-comply-panel with-scroll calendar-panel">
    <ctcl-circular headerText="Recent Matches" [value]="displayScoreData" [circular]="true" [pageLinks]="5"
                   [autoplayInterval]="10000" [effectDuration]="slow" [numVisible]="3">
      <ng-template let-player pTemplate="item">
        <div class="ui-grid ui-grid-responsive" (click)="onClickMatch(player)">
          <div class="ui-grid-row">
            <!--<div class="ui-grid-col-12 align='center'"><h5>{{player.team_1}} Vs {{player.team_2}} </h5></div>-->
            <div style="display:table-cell; vertical-align:middle; text-align:center"
                 class="ui-grid-col-12 align='center'">
              <img src="assets/images/sm-teams/{{player.team_id_1}}.png"> Vs
              <img src="assets/images/sm-teams/{{player.team_id_2}}.png"></div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6 text-lg-left">{{player.team_1}}</div>
            <div class="ui-grid-col-6 textRight">{{player.net_score_1}}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6 text-left">{{player.team_2}}</div>
            <div class="ui-grid-col-6 textRight">{{player.net_score_2}}</div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12 text-left">{{player.result}}</div>
          </div>
        </div>
      </ng-template>
    </ctcl-circular>
  </div>
  <div class="col-xlg-12 col-lg-12 col-md-12 col-sm-12 col-12"
       baCardClass="xmedium-card feed-comply-panel with-scroll calendar-panel">
    <ctcl-circular headerText="Next Matches" [value]="nextMatchesData" [circular]="true" [pageLinks]="5"
                   [autoplayInterval]="10000" [effectDuration]="slow" [numVisible]="3">
      <ng-template let-player pTemplate="item">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3 text-left"><img src="assets/images/sm-teams/{{player.home_team_id}}.png"></div>
          <div class="ui-grid-col-6 text-center">{{player.teams}}</div>
          <div class="ui-grid-col-3 text-right"><img src="assets/images/sm-teams/{{player.away_team_id}}.png"></div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4 text-left">{{player.seasonName | slice:5:13}}</div>
          <div class="ui-grid-col-4 text-center">{{player.date | date}}</div>
          <div class="ui-grid-col-4 text-right">{{player.groundName}}</div>
        </div>
      </ng-template>
    </ctcl-circular>
  </div>
</div>
