.textRight {
  text-align: right;
  padding-right: 2%;
}
.textLeft {
  text-align: left;
  padding-left: 2%;
}
.left{
  display: block;
  float:left;
  width: 100px;
}

.right{
  display: block;
  float:right;
  width: 100px;
}

h2 {
  text-align: center;
  padding: 20px 0;
}

.table-bordered {
  border: 1px solid #ddd !important;
}

table caption {
  padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    display: none;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}
h3{
  font-size: 20px;
  color: rgba(15, 94, 162, 0.96);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  margin: 0px 0 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

h5{
  font-size: 17px;
  color: #1ca60c;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  margin: 0px 0 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

.textRight {
  text-align: right;
  padding-right: 2%;
}
.textLeft {
  text-align: left;
  padding-left: 2%;
}
:host /deep/ {
  .ui-widget-content {
    border: 1px solid #0f5ea2;
    background: rgba(155, 127, 147, 0.42);
    color: #f6f7f9;
  }
  .ui-carousel .ui-carousel-header {
    margin: 0 1px;
    overflow: hidden;
    //border: 1px solid #0f5ea2;
    background: rgba(22, 98, 11, 0.35);
    padding: 1%;
  }
  .ui-carousel-header-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;

  }
}

img {
  border: 0;
  margin-left: 10%;
  margin-right: 10%;

}
