<!--<ng-container *ngIf="data; else loading;">-->
<!--<div baCardBlur class="animated fadeIn card {{cardType}} {{baCardClass || ''}}" zoom-in>-->
  <!--<div class="card-header clearfix">-->
    <!--<div class="dropdown">-->
      <!--<p class="float-left h5 " translate> {{'matches.schedule'}}</p>-->
      <!--<p class="float-right h5 ">-->
        <!--<select class="btn-outline-warning" [(ngModel)]="leagueType" (ngModelChange)="getLeagueSchedule()">-->
          <!--<option *ngFor=" let option of options2017" value={{option.id}}>{{option.name}}</option>-->
        <!--</select>-->
      <!--</p>-->
    <!--</div>-->
    <!--<ng-content></ng-content>-->
  <!--</div>-->
  <!--<ng2-smart-table [settings]="settings" [source]="data" (edit)="onRowEdit($event)"></ng2-smart-table>-->
<!--</div>-->
<!--</ng-container>-->

<ng-container *ngIf="data; else loading;">

<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Schedule</span>

      <p-splitButton [style]="{'float':'right'}" label="Pick Leagues Type !!" icon="fa-check" (onClick)="update()"
                     [model]="items"></p-splitButton>
    </div>
  </p-header>
  <div class="row">

      <p-dataTable [value]="data" selectionMode="single" (onRowSelect)="onRowEdit($event)"
                   [rows]="10" [paginator]="true" [responsive]="true">
        <p-column field="seasonName" header="Season" [style]="{'width':'30%','margin-top':'8px'}"
                  [sortable]="true" frozen="true"></p-column>
        <p-column  field="teams" header="Teams" [sortable]="true"
                  [style]="{'width':'14%','margin-top':'8px', 'overflow':'visible'}"></p-column>
        <p-column field="formatted_date" header="Date" [sortable]="true"
                  [style]="{'width':'14%','margin-top':'8px'}"></p-column>
        <p-column field="groundName" header="Ground" [sortable]="true"
                  [style]="{'width':'14%','margin-top':'8px'}"></p-column>
        <p-column field="umpireName" header="Umpire" [sortable]="true"
                  [style]="{'width':'14%','margin-top':'8px'}"></p-column>
        <p-column field="week" header="Week" [sortable]="true"
                  [style]="{'width':'14%','margin-top':'8px'}"></p-column>
      </p-dataTable>
  </div>
</p-panel>
</ng-container>
<ng-template #loading> Wait Pleaee, Schdule Sheet is loading for you ...</ng-template>
